@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622797826489') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: "\e63d";
}

.icon-daizhifu:before {
  content: "\e63b";
}

.icon-jia:before {
  content: "\e611";
}

.icon-jia1:before {
  content: "\e65a";
}

.icon-jian:before {
  content: "\e715";
}

.icon-gouxuan:before {
  content: "\e736";
}

.icon-kaifapiao:before {
  content: "\e66a";
}

.icon-quxiaohangcheng:before {
  content: "\e66b";
}

.icon-kefuzhongxin:before {
  content: "\e66c";
}

.icon-hangchengfenxiang:before {
  content: "\e66e";
}

.icon-110baojing:before {
  content: "\e66f";
}

.icon-dingwei:before {
  content: "\e685";
}

.icon-fanhui:before {
  content: "\e686";
}

.icon-quanbu:before {
  content: "\e687";
}

.icon-sousuo:before {
  content: "\e688";
}

.icon-shijian:before {
  content: "\e689";
}

.icon-guanbi:before {
  content: "\e68a";
}

.icon-zhankai:before {
  content: "\e68b";
}

.icon-gongsi:before {
  content: "\e68c";
}

.icon-jiating:before {
  content: "\e68d";
}

.icon-gerenzhongxin:before {
  content: "\e68f";
}

.icon-anquanzhongxin:before {
  content: "\e690";
}

.icon-shuaxin:before {
  content: "\e692";
}

.icon-dingweiicon-Positioning:before {
  content: "\e693";
}

.icon-tianjia:before {
  content: "\e63c";
}

.icon-guanbi1:before {
  content: "\e63e";
}

.icon-sousuo1:before {
  content: "\e63f";
}

.icon-dingwei1:before {
  content: "\e640";
}

.icon-wode:before {
  content: "\e641";
}

.icon-fanhui1:before {
  content: "\e642";
}

.icon-xiayibu:before {
  content: "\e643";
}

.icon-xiazai:before {
  content: "\e644";
}

.icon-shengyin:before {
  content: "\e645";
}

.icon-fenxiang:before {
  content: "\e646";
}

.icon-wendu:before {
  content: "\e647";
}

.icon-jianyi:before {
  content: "\e648";
}

.icon-gengduo:before {
  content: "\e649";
}

.icon-jiangbei:before {
  content: "\e64a";
}

.icon-libao:before {
  content: "\e64b";
}

.icon-bianji:before {
  content: "\e64c";
}

.icon-shezhi:before {
  content: "\e64d";
}

.icon-arrow-down:before {
  content: "\e61f";
}

.icon-arrow-left:before {
  content: "\e620";
}

.icon-basic-editing:before {
  content: "\e621";
}

.icon-close:before {
  content: "\e622";
}

.icon-cell-phone:before {
  content: "\e623";
}

.icon-arrow-right:before {
  content: "\e624";
}

.icon-circle-plus-outline:before {
  content: "\e625";
}

.icon-airlines:before {
  content: "\e626";
}

.icon-documentation:before {
  content: "\e627";
}

.icon-download:before {
  content: "\e628";
}

.icon-global-editing:before {
  content: "\e629";
}

.icon-save:before {
  content: "\e62a";
}

.icon-lock:before {
  content: "\e62b";
}

.icon-cms:before {
  content: "\e62c";
}

.icon-pc:before {
  content: "\e62d";
}

.icon-stencil:before {
  content: "\e62e";
}

.icon-copy:before {
  content: "\e62f";
}

.icon-view:before {
  content: "\e630";
}

.icon-video:before {
  content: "\e631";
}

.icon-warehouse:before {
  content: "\e632";
}

.icon-fanhui11:before {
  content: "\e64e";
}

.icon-yanjing:before {
  content: "\e64f";
}

.icon-biyan:before {
  content: "\e650";
}

.icon-tanhao:before {
  content: "\e6b4";
}

.icon-guanbi2:before {
  content: "\e6b6";
}

.icon-zhuyi:before {
  content: "\e6b9";
}

.icon-shouqi2:before {
  content: "\e6ba";
}

.icon-zhankai2:before {
  content: "\e6bb";
}

.icon-shouqi:before {
  content: "\e6bf";
}

.icon-zhankai1:before {
  content: "\e6c0";
}

.icon-zhongxinjiazai:before {
  content: "\e614";
}

.icon-bianji1:before {
  content: "\e615";
}

.icon-cuowu:before {
  content: "\e616";
}

.icon-luxiang:before {
  content: "\e617";
}

.icon-dingwei2:before {
  content: "\e618";
}

.icon-saoyisao:before {
  content: "\e619";
}

.icon-wode1:before {
  content: "\e61a";
}

.icon-xinxi2:before {
  content: "\e61b";
}

.icon-jingyin:before {
  content: "\e61c";
}

.icon-shoucangjia:before {
  content: "\e61d";
}

.icon-fasong:before {
  content: "\e61e";
}

.icon-shouye:before {
  content: "\e633";
}

.icon-shengyin1:before {
  content: "\e634";
}

.icon-shengyinxiao:before {
  content: "\e635";
}

.icon-qiandaochenggong:before {
  content: "\e636";
}

.icon-shoucang2:before {
  content: "\e637";
}

.icon-shezhi1:before {
  content: "\e638";
}

.icon-youhuiquan:before {
  content: "\e639";
}

.icon-gengduo1:before {
  content: "\e63a";
}

.icon-shexiang:before {
  content: "\e651";
}

.icon-neirong:before {
  content: "\e652";
}

.icon-faxian:before {
  content: "\e653";
}

.icon-shoucang:before {
  content: "\e654";
}

.icon-shuqian:before {
  content: "\e655";
}

.icon-xiangji:before {
  content: "\e656";
}

.icon-xinxi:before {
  content: "\e657";
}

.icon-sousuo2:before {
  content: "\e658";
}

.icon-dianzan:before {
  content: "\e659";
}

.icon-rili:before {
  content: "\e65b";
}

.icon-tianjia1:before {
  content: "\e65c";
}

.icon-cuowu1:before {
  content: "\e65d";
}

.icon-dianzan1:before {
  content: "\e65e";
}

.icon-gouwuche:before {
  content: "\e65f";
}

.icon-wode2:before {
  content: "\e660";
}

.icon-luxiang1:before {
  content: "\e661";
}

.icon-huiyuan:before {
  content: "\e662";
}

.icon-xiaoxi:before {
  content: "\e663";
}

.icon-dingwei3:before {
  content: "\e664";
}

.icon-shengyin2:before {
  content: "\e665";
}

.icon-shouye1:before {
  content: "\e666";
}

.icon-shezhi2:before {
  content: "\e667";
}

.icon-youhuiquan1:before {
  content: "\e668";
}

.icon-fasong1:before {
  content: "\e669";
}

.icon-jingyin1:before {
  content: "\e66d";
}

.icon-shengyinxiao1:before {
  content: "\e670";
}

.icon-faxian1:before {
  content: "\e671";
}

.icon-biji:before {
  content: "\e672";
}

.icon-bianji2:before {
  content: "\e673";
}

.icon-shoucang21:before {
  content: "\e674";
}

.icon-rili1:before {
  content: "\e675";
}

.icon-xiangji1:before {
  content: "\e676";
}

.icon-shoucang1:before {
  content: "\e677";
}

.icon-wenjianjia:before {
  content: "\e678";
}

.icon-xinxi1:before {
  content: "\e679";
}

.icon-tianjia2:before {
  content: "\e67a";
}

.icon-qiandaochenggong1:before {
  content: "\e67b";
}

.icon-fangdajing:before {
  content: "\e67c";
}

.icon-shexiangji:before {
  content: "\e67d";
}

.icon-gengduo2:before {
  content: "\e67e";
}

.icon-shuqian1:before {
  content: "\e67f";
}

